## Import a CSV file into a Pandas DataFrame

## import packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Import data

In [2]:
df = pd.read_csv('Books.csv')
df

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher,Unnamed: 12
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,439785960,9.780000e+12,eng,652,2095690,27591,9/16/2006,Scholastic Inc.,NaN
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,439358078,9.780000e+12,eng,870,2153167,29221,09/01/2004,Scholastic Inc.,
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,439554896,9.780000e+12,eng,352,6333,244,11/01/2003,Scholastic,NaN
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9.780000e+12,eng,435,2339585,36325,05/01/2004,Scholastic Inc.,NaN
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,439682584,9.780000e+12,eng,2690,41428,164,9/13/2004,Scholastic,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11118,45631,Expelled from Eden: A William T. Vollmann Reader,William T. Vollmann/Larry McCaffery/Michael He...,4.06,1560254416,9.780000e+12,eng,512,156,20,12/21/2004,Da Capo Press,NaN
11119,45633,You Bright and Risen Angels,William T. Vollmann,4.08,140110879,9.780000e+12,eng,635,783,56,12/01/1988,Penguin Books,NaN
11120,45634,The Ice-Shirt (Seven Dreams #1),William T. Vollmann,3.96,140131965,9.780000e+12,eng,415,820,95,08/01/1993,Penguin Books,NaN
11121,45639,Poor People,William T. Vollmann,3.72,60878827,9.780000e+12,eng,434,769,139,2/27/2007,Ecco,NaN
11122,45641,Las aventuras de Tom Sawyer,Mark Twain,3.91,8497646983,9.790000e+12,spa,272,113,12,5/28/2006,Edimat Libros,NaN

## Find out what columns are in the data

In [2]:
df.columns

Index(['bookID', 'title', 'authors', 'average_rating', 'isbn', 'isbn13',
       'language_code', '  num_pages', 'ratings_count', 'text_reviews_count',
       'publication_date', 'publisher', 'Unnamed: 12'],
      dtype='object')

## Remove unwanted columns

In [3]:
CleanData=df.drop(['Unnamed: 12'], axis = 1)
CleanData

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,439785960,9.780000e+12,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,439358078,9.780000e+12,eng,870,2153167,29221,09/01/2004,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,439554896,9.780000e+12,eng,352,6333,244,11/01/2003,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9.780000e+12,eng,435,2339585,36325,05/01/2004,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,439682584,9.780000e+12,eng,2690,41428,164,9/13/2004,Scholastic
...,...,...,...,...,...,...,...,...,...,...,...,...
11118,45631,Expelled from Eden: A William T. Vollmann Reader,William T. Vollmann/Larry McCaffery/Michael He...,4.06,1560254416,9.780000e+12,eng,512,156,20,12/21/2004,Da Capo Press
11119,45633,You Bright and Risen Angels,William T. Vollmann,4.08,140110879,9.780000e+12,eng,635,783,56,12/01/1988,Penguin Books
11120,45634,The Ice-Shirt (Seven Dreams #1),William T. Vollmann,3.96,140131965,9.780000e+12,eng,415,820,95,08/01/1993,Penguin Books
11121,45639,Poor People,William T. Vollmann,3.72,60878827,9.780000e+12,eng,434,769,139,2/27/2007,Ecco
11122,45641,Las aventuras de Tom Sawyer,Mark Twain,3.91,8497646983,9.790000e+12,spa,272,113,12,5/28/2006,Edimat Libros

## Look at books and average ratings

In [4]:
BookRatings=CleanData[['title','average_rating']]
BookRatings

                                                   title  average_rating
0      Harry Potter and the Half-Blood Prince (Harry ...            4.57
1      Harry Potter and the Order of the Phoenix (Har...            4.49
2      Harry Potter and the Chamber of Secrets (Harry...            4.42
3      Harry Potter and the Prisoner of Azkaban (Harr...            4.56
4      Harry Potter Boxed Set  Books 1-5 (Harry Potte...            4.78
...                                                  ...             ...
11118   Expelled from Eden: A William T. Vollmann Reader            4.06
11119                        You Bright and Risen Angels            4.08
11120                    The Ice-Shirt (Seven Dreams #1)            3.96
11121                                        Poor People            3.72
11122                        Las aventuras de Tom Sawyer            3.91

[11123 rows x 2 columns]

## Sort books by average rating

In [5]:
BooksSortedByRatings=BookRatings.sort_values(by=['average_rating'], ascending=False)
BooksSortedByRatings

                                                   title  average_rating
624    Comoediae 1: Acharenses/Equites/Nubes/Vespae/P...             5.0
9893   His Princess Devotional: A Royal Encounter Wit...             5.0
4788   The Diamond Color Meditation: Color Pathway to...             5.0
9324                  Tyrannosaurus Wrecks (Stanley  #1)             5.0
9720       The Irish Anatomist: A Study of Flann O'Brien             5.0
...                                                  ...             ...
6877   I'll Be Home Before Midnight and I Won't Get P...             0.0
3492   Brodie's notes on Aldous Huxley's brave new world             0.0
2533          Insights: Talks On The Nature Of Existence             0.0
2532   How To Meditate: An Anthology Of Talks On Medi...             0.0
10497  The Fantastic Vampire: Studies in the Children...             0.0

[11123 rows x 2 columns]

## Plot a chart showing number of books per average rating

In [19]:
BooksSortedByRatings.plot(x=[]'title'], y='average_rating')

SyntaxError: invalid syntax (Temp/ipykernel_2204/3429873730.py, line 1)

## Look up a specific author

In [12]:
JK=CleanData.loc[CleanData['authors']=='J.K. Rowling/Mary GrandPré']
JK

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,439785960,9.780000e+12,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,439358078,9.780000e+12,eng,870,2153167,29221,09/01/2004,Scholastic Inc.
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9.780000e+12,eng,435,2339585,36325,05/01/2004,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,439682584,9.780000e+12,eng,2690,41428,164,9/13/2004,Scholastic
4415,15881,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling/Mary GrandPré,4.42,439064864,9.780000e+12,eng,341,2293963,34692,06/02/1999,Arthur A. Levine Books / Scholastic Inc.
8873,34318,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling/Mary GrandPré,4.47,786222727,9.780000e+12,eng,424,147,13,11/12/1999,Thorndike Press Large Print

## Graph to show ratings of J.K Rowling's Books

this is text